---
layout: default
---
{%capture slider-title%}
      <h2>ACM Symposium on Cloud Computing 2026</h2>
	    <h3 style="color:white">Singapore</h3>
        <h3 style="color:white">November 2026</h3>
{%endcapture%}

{% include slider.html content=slider-title %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        {% include important_dates.html %}
      </div>
      <div class="col-md-6">
        <section id="main-content">
          <div class="section-content">
            <header></header>
        <br>

		<p align="justify">SoCC'26 is 17th edition of the annual ACM Symposium
		on Cloud Computing, the premier conference on cloud computing. It brings
		together researchers, developers, users, and practitioners interested in
		cloud computing, and is the only conference co-sponsored by the ACM
		Special Interest Groups on Management of Data (SIGMOD) and on Operating
		Systems (SIGOPS).  As in prior SoCC conferences, SoCC'26 will foster
		connections between the academic and industrial communities operating in
		the cloud space.</p> 
    <p align="justify">SoCC'26 will take place in Singapore from November 18th-20th.</b>.</p> 

    <p><b>Registration site <a href="https://cvent.me/eW27P0">here</a>.</b></p>

         <h2>Announcements </h2>
          <br>
          <ul>
             <!-- <li>[11/3/2025] <a href="https://cvent.me/eW27P0">Registration Site</a> is open!</li> -->
             <!-- <li>[11/10/2024] Check out our <a href="hotels.html">suggested hotels</a>.</li>
             <li>[10/31/2024] SoCC'24 will host a <a href="meetup.html">Women in Systems Meetup</a>!</li>
             <li>[10/28/2024] SoCC'24 will have two amazing keynote speakers: Irene Zhang (MSR) and Anastasia Ailmaki (EPFL).</li> -->
             <!-- <li>[5/17/2025] <a href="https://socc25.hotcrp.com">Submission site</a> is now open!</li>
	           <li>[5/17/2025] Check out the <a href="papers.html">Call for Papers!</a></li>   -->
             <li>[12/1/2025] SoCC 2026 website is up!</li>
          </ul>
         <br> 

         <h2>Supported by</h2>
         <div class="container" height="200">
            <div class="navbar-brand nav" id="brand"><br>
                <a href="index.html"><img src="assets/img/logos-SIGMOD.gif" alt="SIGMOD" style="padding-right:20px; border:0px currentColor" height="50"></a>
                <a href="index.html"><img src="assets/img/logos-SIGOPS.jpg" alt="SIGOPS" style="padding-right:20px; border:0px currentColor" height="50"></a>
            </div>
         </div>


          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div>

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->

