---
layout: default
---

{% include slider.html content="<h2>Program Committee</h2>"%}

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-9">
                <div id="page-main">
                    <section id="members">
                      <header><h1>Program Committee</h1></header>
                      
		       
		        <section id="program-chairs">
                          <header><h2 class="no-divider">Program chair</h2></header>
                          <div class="row">
                            
                            <div class="col-md-6">
                              <div class="author-block course-speaker" style="padding-left:0; margin:0; border-bottom:none;">
                               <article class="paragraph-wrapper" style="padding-left:0;">
                                <div class="inner">
                                  <header><a target="_blank"
href="https://rmarcus.info/blog/">Ryan Marcus</a></header>
                                    <figure>University of Pennsylvania</figure>
                                </div>
                               </article>
		                    </div><!-- /.author -->
                           </div>
                    
                          
			 </div> <!-- end row -->
                        </section><!-- /#program-chairs -->


        <section id="program-committee">
            <header> <h2 class="no-divider">Program committee</h2></header>
            <div class="row">

                {% for member in site.data.committee %}
                <div class="col-md-6">
                  <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                    <article class="paragraph-wrapper" style="padding-left:0;">
                      <div class="inner">
                        <header>
                          {% if member.url %}
                          <a href="{{ member.url }}" target="_blank">{{ member.name }}</a>
                          {% else %}
                          {{ member.name }}
                          {% endif %}
                        </header>
                        {% comment%}
                        {% if member.inst %}
                            <figure>{{ member.inst}}</figure>
                        {% endif %}
                        {% endcomment %}
                      </div>
                    </article>
                  </div>
                </div>
                {% endfor %}               

            </div>
        </section>

                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-6 -->

            <!--SIDEBAR Content-->

            <div class="col-md-3">
              <section class="news-small" id="news-small">
<!--
  <header>
    <h2>Latest news</h2>
  </header>

  <div class="section-content">
	<a class="twitter-timeline" href="https://twitter.com/acmsocc2017">Tweets by acmsocc2017</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	-->
</section><!-- /.news-small -->

            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->



