        <section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
          <!-- <div class="section-content">
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">November</div>
                <div class="day">19</div>
              </figure>
              <aside>
                <header>
                  Conference starts!
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">sep</div>
                <div class="day">26</div>
              </figure>
              <aside>
                <header>
                  Notification to authors
                </header>
              </aside>
            </article>
            <br>
             <article class="event nearest-second">
              <figure class="date">
                <div class="month">sep</div>
                <div class="day">12</div>
              </figure>
              <aside>
                <header>
                  Authors' response period ends
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">sep</div>
                <div class="day">10</div>
              </figure>
              <aside>
                <header>
                  Authors' response period begins
                </header>
              </aside>
            </article>
            <br>
	          <article class="event nearest-second">
              <figure class="date">
                <div class="month">jul</div>
                <div class="day">14</div>
              </figure>
              <aside>
                <header>
                  Paper submission deadline at 5pm EDT
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest">
              <figure class="date">
                <div class="month">jul</div>
                <div class="day">7</div>
              </figure>
              <aside>
                <header>
                  Paper registration deadline at 5pm EDT
                </header>
              </aside>
            </article>
            <br> -->
   <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

