<h3 class="session-date">{{include.date}}</h3>
<table class="table table-responsive schedule">
  <!-- <thead>
      <tr><th class><h4></h4></th><th></th><th></th></tr>
  </thead> -->
  <tbody>
    {% for session in site.data.sessions[include.key] %}
      <tr>
        <th class="time-column">
          <div class="session-time">
            <div class="session-start">{{session.start}}</div>
            <div class="session-end">{{session.end}}</div>
          </div>
        </th>
        <th class="session-info">
          {% assign is_keynote = false %}
          {% if session.title contains 'Keynote' %}
            {% assign is_keynote = true %}
          {% endif %}
          {% assign showlinks = false %}
          {% if include.showlinks == "true" %}
            {% assign showlinks = true %}
          {% endif %}
          {% if session.url and (showlinks or is_keynote) %}
          <a href="{{session.url}}"><h4 class="session-title">{{session.title}}</h4></a>
          {% else %}
          <h4 class="session-title"><font style="color:SteelBlue;">{{session.title}}</font></h4>
          {% endif %}
		  {% if session.chair %}
            <h4 style="margin-top:4px;"><font style="color:SteelBlue;">Chairs: {{session.chair}}</font></h4>
		  {% endif %}
      {% if session.details %}
        {% if session.details_url %}
          <h4 style="margin-top:4px;"><font style="color:black;">{{session.details}} Learn more about the event <a href="{{session.details_url}}">here</a>.</font></h4>
        {% else %}
          <h4 style="margin-top:4px;"><font style="color:black;">{{session.details}}</font></h4>
        {% endif %}
      {% endif %}
          {% if session.location %}
            <h4 style="margin-top:4px;"><font style="color:black;">Location: {{session.location}}</font></h4>
          {% endif %}
          <div class="details">
            {% if session.talks %}
            <ul class="session-list">
              {% for talk in session.talks %}
              <li>
                {% if talk.url and (showlinks or is_keynote) %}
                  {% if talk.best %}
                  <a href="{{talk.url}}"><h4 class="talk-title-link"><font style="color:red">[Best paper]</font> {{ talk.title }}</h4></a>
		            {% elsif talk.bestvision %}
		          <a href="{{talk.url}}"><h4 class="talk-title-link"><font style="color:red">[Best Vision paper]</font> {{ talk.title }}</h4></a>
                  {% else %}
                  <a href="{{talk.url}}"><h4 class="talk-title-link">{{ talk.title }}</h4></a>
                  {% endif %}
                {% else %}
                <!-- <h3 class="talk-title">{{ talk.title }}</h3> -->
                <!-- BROUGHT THE IF BLOCK OUTSIDE -->
                {% if talk.best %}
                  <h4 class="talk-title"><font style="color:red">[Best Paper]</font> {{ talk.title }}</h4>
                {% elsif talk.honorablemention %}
                <h4 class="talk-title"><font style="color:red">[Honorable Mention]</font> {{ talk.title }}</h4>
                {% elsif talk.bestvision %}
                  <h4 class="talk-title"><font style="color:red">[Best Vision paper]</font> {{ talk.title }}</h4>
                  {% else %}
                  <h4 class="talk-title">{{ talk.title }}</h4>
                  {% endif %}
                  <!-- END OF BLOCK -->
                {% endif %}
                {% assign authors = talk.authors | join: ', ' %}
                <p class="course-meta" style="line-height:14px;font-size:12px">{{authors}}</p>
                {% comment %}
                {% if talk.url %}
                 <a href="{{talk.url}}">[Paper]</a> &emsp;
                {% endif %}
                {% if talk.slides %}
                  <a href="{{talk.slides}}">[Slides]</a> &emsp;
                {% endif %}
                {% if talk.audio %}
                  <a href="{{talk.audio}}">Audio</a> &emsp;
                {% endif %}
                {% endcomment %}
              </li>
	      <br>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </th>
        <th></th>
      </tr>
    {% endfor %}
  </tbody>
</table>
